<div role="menu" class="c-card c-card--menu">
        <div role="separator" class="c-card__item c-card__item--divider">Atoms</div>
        <a routerLink="atoms/hello"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Hello</button></a>
        <a routerLink="atoms/color-picker"><button role="menuitem" class="c-card__control c-card__control--brand">Color
                        Picker</button></a>
        <a routerLink="atoms/autocomplete"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Autocomplete</button></a>
        <a routerLink="atoms/input-validation"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Inputs
                        with validation</button></a>
        <a routerLink="atoms/lazy-images"><button role="menuitem" class="c-card__control c-card__control--brand">Lazy
                        Images</button></a>
        <a routerLink="atoms/counter"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Counter</button></a>
        <a routerLink="atoms/modal"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Modal</button></a>
        <div role="separator" class="c-card__item c-card__item--divider">Integrations</div>
        <a routerLink="integrations/d3"><button role="menuitem"
                        class="c-card__control c-card__control--brand">D3</button></a>
        <a routerLink="integrations/charts"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Charts</button></a>
        <div role="separator" class="c-card__item c-card__item--divider">Applications</div>
        <a routerLink="applications/user-search"><button role="menuitem"
                        class="c-card__control c-card__control--brand">User
                        Search</button></a>
        <a routerLink="applications/list-users"><button role="menuitem"
                        class="c-card__control c-card__control--brand">List
                        Users</button></a>
        <a routerLink="applications/code"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Code</button></a>
        <a routerLink="applications/search-repositories"><button role="menuitem"
                        class="c-card__control c-card__control--brand">Search Repositories</button></a>
        <a routerLink="applications/crud-posts"><button role="menuitem"
                        class="c-card__control c-card__control--brand">CRUD Posts</button></a>
</div>